/*CSS settings for JavaScript Basics*/

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial;

    /*outline: 1px dotted red;*/
}

#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
}

#header {
}

#headerLeft{
    display: inline-block;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

#headerRight{
    display: inline-block;
    width: 49%;
    text-align: right;
}

#bodySection{
    background-color: #5d4851;
    padding-top: 20px;
    padding-left: 20px;
}

#bodyTopSection{
/*    height: 260px;*/
}

#topLeft{
    display: inline-block;
    background-color: #c0c0c0;
    padding: 5px;

}

#topLeft img{
    width: 448px;   
}

#topRight{
    display: inline-block;
    height: 309px;
    width: 475px;
    margin-left: 20px;
    vertical-align: top;
}

.lowerCenterTextBox{
    font-family: Arial;
}

#aboutText{
    height: 80.4%%;
}

#boxHeaderAbout{
    padding: 10px;
    color: #ffffff;
    background-color: #878593;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 455px;
    background: radial-gradient(#878593, #b4b4b8);    
}

.boxHeader{
    padding: 10px;
    color: #ffffff;
    background-color: #878593;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 283px;
    background: radial-gradient(#878593, #b4b4b8);
}

.boxBody{
    padding: 10px;
    height: 250px;
    display: inline-block;
    background: linear-gradient(to right, #fefefe, #daccd9);
}

.smallPicHolder img{
    width: 303px;
    display: inline-block;
}

.lowerBoxTextTopHalf{
    height: 120px;
    padding: 10px;
    background: linear-gradient(to right, #fefefe, #daccd9);
    text-align:justify;
    font-size: smaller;
    margin-top: -4px;
}

.lowerBoxTextLowerHalf{
    height: 140px;
    padding: 10px;
    background: linear-gradient(to right, #fefefe, #daccd9);
    text-align:justify;
    font-size: smaller;
}

.techImage {
    height: 45px;
    padding-right: 5px;
    padding-left: 5px;
}

.techTableHolder{
    text-align: center;
    margin-left: -4px;
}

#lowerLeft{
    height: 575px;
    width: 303px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 20px;
}

#lowerCenter{
    height: 575px;
    width: 303px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20.5px;
    margin-top: 20px;
}

#lowerRight{
    height: 575px;
    width: 303px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20.5px;
    margin-top: 20px;
}

#linkHolder{
    background-color: green;
    height: 200px;
    width: 150px;
}

#siteLink{
    background-color: green;
    height: 20px;
    width: 55px;
}

#footer{
    height: 60px;
    padding-right: 25px;
}

#footerContactsTop{
    text-align: center;
    padding-top: 5px;
}

#footerContactsLower{
    margin-left: 300px;
    margin-top: 7px;
}

.contactLinks{
    text-decoration: underline;
    font-style: italic;
    vertical-align: top;
}

.sampleSiteLinks{
    height: 30px;
    margin-top: 9px;

}

.innerMostSiteLink{
    padding-top: 5px;
}

#siteLinks1{
    height: 28px;
    width: 75px;
    margin: auto;
    background-color: #407d61;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 4px, 3px, 2px, #606d67;
}

#siteLinks2{
    height: 28px;
    width: 114px;
    margin: auto;
    background-color: #407d61;
    border-radius: 8px;
    color: white;
    text-align: center;
}

#siteLinks3{
    height: 28px;
    width: 93px;
    margin: auto;
    background-color: #407d61;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.spacerDiv{
    height: 10px;
}

.contactImage{
    height: 19px;
}