<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<form action="/results" method="post">
		<input type="text" name="fName" placeholder="enter first name">
		<input type="submit" value="submit">
	</form>
</body>
</html>